li i{
    font-size: 21px;
}

ul a , h5{
    text-transform: capitalize;
    cursor: pointer;
}

.reports-btn{
    background-color: rgba(175, 175, 235, 0.447);
    color: blue !important;
}

.appointment-btn{
    background-color: blue !important;
    color: #fff !important;
}