<section class="about">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-6">
                <div class="image-container">
                    <img src="about-3.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 text-container">
                <span>About Us</span>
                <h1 class="my-4 fw-bold display-5">Book Your Clinc Appointment With An Ease</h1>
                <p>a feature rich and comprehensive mediacl appointment scheduling Software
                    solution to deliver fast and reliable appointment booking experience to patients
                </p>
                <ul class="list-unstyled d-flex gap-3 mt-4">
                    <li class="list-item">
                        <p>Emergency Help</p>
                    </li>
                    <li class="list-item">
                        <p>Qualified Doctors</p>
                    </li>
                    <li class="list-item">
                        <p>Best Professionals</p>
                    </li>
                    <li class="list-item">
                        <p>Medical Treatment</p>
                    </li>
                </ul>
                <a href="#" class="btn contact-btn mt-4">Contact Us</a>
            </div>
        </div>
    </div>
</section>
