<section class="hero">
  <div class="container" [@slideInFromSides]>
      <div class="row">
          <div class="col-lg-6 text-container">
              <h5 class="mb-4">Custom Doctor Appointment Booking Software</h5>
              <h1 class="fw-bold display-4">A White Label Patient Appointment Booking System</h1>
              <a routerLink="/signup" class="btn signup-btn mt-5">Sign Up</a>
          </div>
          <div class="col-lg-6">
              <div class="image-container">
                  <img src="home.png" alt="Hero Image" class="img-fluid">
              </div>
          </div>
      </div>
  </div>
</section>