<footer class="footer pt-5 pb-2 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="contact d-flex flex-column">
                    <h2 class="fw-bold mb-4">Contact Us</h2>
                    <ul class="list-unstyled">
                        <li class="list-item d-flex gap-3 align-items-center">
                            <i class="fa-solid fa-phone fs-5"></i>
                            <span class="fs-5">+201054267885</span>
                        </li>
                        <li class="list-item d-flex gap-3 align-items-center mt-3">
                            <i class="fa-solid fa-envelope fs-5"></i>
                            <span class="fs-5">UniversitHospital&#64;info.com</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="links d-flex flex-column">
                    <h2 class="fw-bold mb-4">Quick Links</h2>
                    <ul class="list-unstyled d-flex flex-column gap-2">
                        <li class="list-item d-flex gap-3 align-items-center">
                            <a href="#">About Us</a>
                        </li>
                        <li class="list-item d-flex gap-3 align-items-center">
                            <a href="#">Contact Us</a>
                        </li>
                        <li class="list-item d-flex gap-3 align-items-center">
                            <a href="#">FAQs</a>
                        </li>
                        <li class="list-item d-flex gap-3 align-items-center">
                            <a href="#">Terms & Conditions</a>
                        </li>
                        <li class="list-item d-flex gap-3 align-items-center">
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="subscribe d-flex flex-column">
                    <h2 class="fw-bold mb-4">Subscribe</h2>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Enter Your Email" aria-label="Enter Your Email" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Subscribe</button>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right mt-4 text-center fs-4 fw-bold">
        <p>All Rights Reserved &#169; 2025 Ninga Turtles🍕🍕</p>
    </div>
</footer>