.card{
    background-color: white;
}

.new-btn{
    margin-right: 15px !important;
}

.table_search{
    border: none;
    outline: none;
    background: transparent !important;
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 10px !important;
    width: 300px;
}

.form-search-icon{
    right: 30px !important;
    top: 11%;
}