<section class="testimonial py-5">
    <div class="container">
        <div class="text-center text-container">
            <h5>Testimonial</h5>
            <h1 class="fw-bold mt-3">See What Are The Patients Saying About Us</h1>
        </div>


        <div id="carouselExample" class="carousel slide mt-5  position-relative">
            <div class="quote-mark position-absolute">
                <img src="Quotes.png" alt="Qoute Mark">
            </div>
            <div class="carousel-inner">
              <div class="carousel-item">
                <div class="bg-light p-5 position-relative rounded-2">
                  <p class="description lead ar">
                    "لأ لأ، مش أي مستشفى وخلاص  
                    لأ لأ، دي حكاية وعشرة وإخلاص  
                    من أول ما دخلت حسيت براحة مش طبيعية  
                    دكاترة جدعان وعناية جامدة فوق العادية  
                    كل يوم كنت بلاقي حد بيهون عليا  
                    كلمة حلوة وضحكة وكباية شاي سخنة كده مع ابتسامة حلوة  
                    لأ لأ، مش بس علاج ده طبطبة واهتمام  
                    لأ لأ، دي مستشفى تديك أمل وسلام  
                    والله العظيم ربنا يجازيهم خير،  
                    وربنا يكتبها في ميزان حسناتهم يوم القيامة ❤️"
                  </p>
                  <div class="patient-info">
                    <img src="cristiano.avif" alt="Patient Photo">
                    <h5 class="patient-name fw-bold mt-4">Cristiano Ronaldo</h5>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="bg-light p-5 rounded-2">
                    <p class="description lead ar">
                      "بصراحة، دي كانت أسوأ تجربة لي في مستشفى، ولا في الحلم كنت متخيلة إنهم يطلبوا مني فلوس بالطريقة دي. هو عشان ابنى تعبان وغلبان و أهطل يعنى، مش قادر يركز من الألم،
                       وأنا أدفع مبلغ كبير عشان يضحكوا عليا؟! لا حول ولا قوة إلا بالله! طب خليني أقولك حاجة، مش هم اللي شايلين هم الناس، دول همهم الفلوس بس
                       ، والله حتى لو كانت أفضل مستشفى في العالم، مش هدخلها تاني. لا إحنا مش جايين نتسلى ولا نرفه عن نفسنا، إحنا جايين عشان علاج، واللي حصل ده أبعد حاجة عن الخدمة اللي اتمنيناها."
                    </p>
                <div class="patient-info">
                    <img src="faiza.jpg" alt="Patient Photo">
                    <h5 class="patient-name fw-bold mt-4">فايزة ام مبابى</h5>
                </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="bg-light p-5 position-relative rounded-2">
                  <p class="description lead ar">
                    "مستشفى عشرة على عشرة والله، بيدلعونا دلع، متابعة وعناية واهتمام زيادة عن اللزوم. حتى لما كنت زهقان كانوا بيهزروا معايا ويفرفشوني. الدكاترة قلبهم أبيض والتمريض قمة في الذوق. ربنا يكرمهم ويزيدهم يا رب."
                  </p>
                  <div class="patient-info">
                    <img src="alexM.jpg" alt="Patient Photo">
                    <h5 class="patient-name fw-bold mt-4">Alex Morgan</h5>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="bg-light p-5 position-relative rounded-2">
                  <p class="description lead ar">
                    "أنا داخل المستشفى كنت فاكر هلاقي ترحيب وعناية، 
                    لقيت نظرات مش مريحة وكلام بيترمي عليا في الهوا. 
                    كأن لوني مش عاجبهم أو إني غريب عنهم. 
                    بدل ما أتعالج، كنت بحارب نظرات واستهزاء، وحسيت إني مش مرغوب فيا.  
                    بجد تجربة خلتني أندم إني دخلت من بابهم."
                  </p>
                  <div class="patient-info">
                    <img src="vini.jpeg" alt="Patient Photo">
                    <h5 class="patient-name fw-bold mt-4">Vinicius Junior</h5>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="bg-light p-5 position-relative rounded-2">
                  <p class="description lead ar">
                    "أنا داخل المستشفى كنت قلقان ومتوتر، لكن من أول لحظة حسيت إن الموضوع بسيط. التيم كله شغال قلب واحد، بياخدوا بالك من كل حاجة صغيرة وكبيرة. بجد ناس جدعة ومحترمة وأمانة ما شفتش كده قبل كده."
                  </p>
                  <div class="patient-info">
                    <img src="patient.jpg" alt="Patient Photo">
                    <h5 class="patient-name fw-bold mt-4">Hamada Fathy</h5>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="bg-light p-5 position-relative rounded-2">
                    <p class="description lead">
                      "La verdad, me encantaron las instalaciones del hospital universitario.
                       Todo el equipo que usan para diagnosticar y tratar está a otro nivel, y eso me dio mucha confianza en el cuidado que recibí.
                      El personal fue súper atento y siempre se aseguraron de explicarme todo paso por paso."
                    </p>
                <div class="patient-info">
                    <img src="aitana.jpg" alt="Patient Photo">
                    <h5 class="patient-name fw-bold mt-4">Aitana Bonmatí</h5>
                </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="bg-light p-5 position-relative rounded-2">
                    <p class="description lead">
                        "What I appreciated most about the university hospital was their holistic approach to healthcare.
                         They not only treated my physical ailments but also provided emotional support and resources
                          for my mental well-being. It truly felt like a comprehensive care experience."
                    </p>
                <div class="patient-info">
                    <img src="valverde.jpg" alt="Patient Photo">
                    <h5 class="patient-name fw-bold mt-4">Vidrieco Valverde</h5>
                </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="bg-light p-5 position-relative rounded-2">
                  <p class="description lead ar">
                    "من ساعة ما دخلت المستشفى وأنا حاسس إني فـ بيتنا مش فـ مستشفى، الناس كلها وشها بشوش وبيسألوا عليا كأني أخوهم. الدكاترة مية مية والتمريض زي العسل، بصراحة عناية فوق الخيال ومش بينسوا أي تفصيلة. ربنا يباركلهم."
                  </p>
                  <div class="patient-info">
                    <img src="ramos.webp" alt="Patient Photo">
                    <h5 class="patient-name fw-bold mt-4">Siergio Ramos</h5>
                  </div>
                </div>
              </div>
              
              <div class="carousel-item">
                <div class="bg-light p-5 position-relative rounded-2">
                  <p class="description lead ar">
                    "لو حد قاللي مستشفى تحفة مش هصدق لحد ما دخلت هنا. والله العناية والرعاية مش بس في العلاج، لا، كمان في الكلمة الحلوة والابتسامة والدعم النفسي. كنت محتاج الكلمة الطيبة أكتر من الدوا، وهما فهموا ده من غير ما أتكلم."
                  </p>
                  <div class="patient-info">
                    <img src="alisha.webp" alt="Patient Photo">
                    <h5 class="patient-name fw-bold mt-4">Alisha Lehmann</h5>
                  </div>
                </div>
              </div>
              <div class="carousel-item active">
                <div class="bg-light p-5 position-relative rounded-2">
                  <p class="description lead ar">
                    "بصراحة أنا مدين للمستشفى دي بحياتي. فرقوا معايا مش بس في العلاج، ده كانوا طبطبة على القلب والله. اهتمام وتقدير وراحة نفسية مش طبيعية. والله كنت طالع من كل زيارة وأنا حاسس إني اتولدت من جديد. شكراً ليكم من قلبي."
                  </p>
                  <div class="patient-info">
                    <img src="messi.webp" alt="Patient Photo">
                    <h5 class="patient-name fw-bold mt-4">Lionel Messi</h5>
                  </div>
                </div>
              </div> 
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</section>